@import "tailwindcss";

@theme {
  --color-background: #000;
  --color-foreground: #fff;
}

:root {
  color-scheme: dark;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif;
}