@import "tailwindcss";

@theme {
  --color-haven-pink: #ff007a;
  --color-haven-purple: #7000ff;
}

:root { color-scheme: dark; }

body {
  background-color: #000;
  color: white;
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}